.element {
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgba(255, 255, 255, 0.934));
     box-shadow: 
     12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0);
  } 
  .neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
      inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
      border-radius: 8px;
  }
  .avatar{
     background: linear-gradient(-45deg, rgb(0, 0, 0), rgba(255, 255, 255, 0.934));
     box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  }
  .element-1 {
    background: #ebf0f4;
    /* background: #78beff; */
  }